
.footer {
	background : #313d53;
	border-top: 5px solid #f67878;
	color: #aebcd8;
}

.footer-wrapper .col-md-3 {
	margin-top: 50px;
}


.dotted-hr {
 	border-bottom: dashed 1px;
}

.footer-wrapper-title {
	color: #fff;
	padding-bottom: 14px;
	margin-bottom: 13px;
	font-family: 'Archivo Black';
	font-size: 20px;
}

.footer-text {
	padding-top: 30px;
}

.footer-copyright-wrapper {
	background :#121c2f;
}
.copyright-text {
	padding: 8px;
}